.menu-thematiques-parent-child {
    
	position: relative;
	margin-bottom: 50px;
	// margin-bottom: 40px;
	// height: 50px !important;
    // width: 50px !important;
}



.menu-thematiques-parent-child:after {
    content: ".";
    display: block;
    height:0;
    clear: both;
    visibility: hidden;
}


/***************  //menu menu-thematiques*****************/
 /*************** sous thematiques *************************/

 .sous-thematiques{
	/* padding-top: 70px; */
	// display: none;
	// margin-top: 70px;
 }
 slide1{
	padding-top: 30px;
	transform: translatex(0); 
}

slide2{
    transform: translatex(100%); 
    display: block;
}
slide1,slide2{
	display: block;
	padding: 10px;
	transition:0.5s;
}

.slide-arriere-thematiques{
	position: fixed;
	left: -10px;right: -10px;top: 0;
	height: 40px;display: none;padding-top: 20px;
	padding-bottom: 20px
	
}
.slide-arriere-thematiques img{
	/*transform: rotate(180deg); */
  height: 25px;
  margin-top: 1px;
  margin-left: 10px;
}
.slide-arriere-thematiques span{
	color: #434343;
  font-family: OpenSans-CondBold;
  font-weight: bold;
  text-transform: uppercase;
    font-size: 20px;
  margin-left: 3px;
}
.sous-thematiques-child{
	display: flex;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	
 }
 .sous-thematiques-child-active{
	display: flex;
	margin-bottom: 20px;
	position: relative;
	border-radius: 5px;
	
 }
 .sous-thematiques-child-infos{
	position: absolute;
	left: 3px;width: 0px;
	top: 0;bottom: 0;
	transition:0.5s;
	padding-top: 25px
}
.sous-thematiques-child-infos .checkbox{
	/* margin-top: -15px;
	margin-left: 5px; */
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
	/*transition:0.5s;*/
}
/*
.sous-thematiques-child:hover .sous-thematiques-head .sous-thematiques-child-infos .checkbox{
	display: block;
 }
 .sous-thematiques-child:hover, .sous-thematiques-child-active:hover{
	background-color: rgba(0,0,0,0.1)
 }
 .sous-thematiques-child-active:hover{
	box-shadow: inset 0 0 5px #ccc,0 0 10px #434343;
 }
 .sous-thematiques-child:hover .sous-thematiques-head .sous-thematiques-head-arrow{

	box-shadow: inset 0 0 5px #fff,0 0 5px #ccc;

 }
  */

 .sous-thematiques-child:hover .sous-thematiques-head .sous-thematiques-head-arrow .sous-thematiques-head-arrow-white{
	
	
	transform: rotate(90deg)translate(-50%,50%);
 }
 .sous-thematiques-child:hover .sous-thematiques-head .sous-thematiques-child-infos{
	width: 32.5px;
 }
 .sous-thematiques-child:hover .sous-thematiques-head h4{
	margin-left: 24px;
 }
 .sous-thematiques-child-active .sous-thematiques-head .sous-thematiques-child-infos{
	width: 30px;
 }
 .sous-thematiques-child-active .sous-thematiques-head .sous-thematiques-child-infos .checkbox{
	display: block
 }
 .sous-thematiques-child-active .sous-thematiques-head h4{
	margin-left: 24px;
 }
 
.sous-thematiques-head{
	/* width: 100%; */
	 height: fit-content !important;
        height: intrinsic !important;
        height: -moz-fit-content !important;
        height: -webkitfit-content !important;
	/* height: 40px; */
	/* border-radius: 5px 5px 0 0; */
	padding: 5px;
    padding-top: 1px;
	position: relative;
	z-index: 99;
	box-shadow:  inset 0 0 5px #fff,0 0 5px #ccc;
	/* margin-top: 20px; */
	
 }

 .sous-thematiques-head-active{
	// border-bottom: 0.5px solid #000;
	box-shadow: none;
	margin-top: 0px;
	max-height: 50px;
 }

 .sous-thematiques-head-active .sous-thematiques-head-arrow i{
	/* transform: rotate(90deg); */
	transform: rotate(-90deg) translate(50%, -50%);
 }
 
 .sous-thematiques-head-logo{
	 height: 35px;
	 margin-left: -15px;
	 padding-left: 10px;padding-right: 0px !important;
	 transition: 0.5s
 }

 .sous-thematiques-head-active .sous-thematiques-head-arrow{
	 background: transparent !important
 }
 .sous-thematiques-head-arrow{
	position: absolute;
	/* border-radius: 0 5px 0 0; */
	top: 0;bottom: 0;right: 0;
	width: 35px;padding: 5px;
	transition: 0.5s;
	padding-left: 1px;padding-top: 7px
}
.sous-thematiques-head h4{
	padding: 0px;
	padding-left: 3px;
	transition: 0.5s;
	font-size:15px;
	text-transform: uppercase;
	font-family: OpenSans-CondBold;
}
 .sous-thematiques-head-arrow i{
	 transform: rotate(0deg);
	//  width: 28px;height: 28px;
	 /*margin-top: -3px;*/
	 /* margin-left: 3px; */
	 transition: 0.5s;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-right: -50%;
	 transform: translate(-50%, -50%) 
 }
 .sous-thematiques-head-arrow-red{
	 display: none;
	 margin-top: 2px
 }
 .sous-thematiques-body{
	padding: 5px;
	padding-top: 10px;
	margin-top: -5px;
	border-radius: 0 0 5px 5px;
	height: 0px;
	z-index: 50;
	display: none;
	/* border: 0.5px solid #000; */
	/* box-shadow:  inset 0 0 5px #fff,0 0 1px #ccc; */
	/* box-shadow: 0 0 2px #000; */
}
.sous-thematiques-body-active{
	 height: fit-content !important;
        height: intrinsic !important;
        height: -moz-fit-content !important;
        height: -webkitfit-content !important;
        display: block !important;
	margin-left:-100%;
	padding-top: 70px;
} 


 /*************** //sous thematiques *************************/

 /********************* couches 
 @media (min-width: 1450px){
	.col-lg-5 {
		width: 25%;
	}
	.col-lg-offset-1 {
		margin-left: 8.33333333%;
	}
}********************************/
 .couches{
	padding: 0px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 62px;
    background: #f0fff000;
    -webkit-box-shadow: inset 0 0 5px #fff, 0 0 5px #43434378;
    /* box-shadow: inset 0 0 5px #fff, 0 0 5px #434343; */
 }
 .couches img{
	width: 50px;
  height: 50px;
	/* margin-top: -10px */
}
.couches-checkbox{
	position: absolute;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
	bottom: -28px;
	background: #fff;
}
.couches-nom{
	position: absolute;
	top: 70px;
	font-size: 12px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	left: 50%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
	overflow: hidden;
	width: fit-content;
}

.couches:hover{
//	box-shadow:  inset 0 0 10px #fff,0 0 20px #434343;
background: rgba(185, 235, 187, 0.45);
}
.couches:hover .couches-checkbox .checkbox label .border_black_gray{
	//box-shadow:  inset 0 0 10px #fff,0 0 20px #434343;
}
 /********************* //couches ******************************/
#GC .slider-selection {
	background: #F10E29;
}
#GC .slider-handle {
	background: #F10E29;
}
.slider-track-low, .slider-track-high {
	background: #434343;
}

@media (max-width : 767px) {
	.menu-thematiques-child:hover .menu-thematiques-child-logo{
		margin-left: 10px;
		width: 37%;
		background: rgba(185, 235, 187, 0.45);
	}

	.menu-thematiques-child-title p{
		
		left: 47% !important;
		max-width: 60px;
		
	}
}

@media (min-width: 1200px){
	.col-lg-offset-1 {
		margin-left: 15.333333%;
	}

}


