<div>

  <div class="displayPropertiesTitle_properties  primaryColor bold text-center"
    [ngClass]="{'cursor_move': typeDataFeature == 'pdf'}">

    <svg x="0px" y="0px" viewBox="0 0 23 23"
      style="height: 30px;width: 30px;float: left; margin-left: 10px;margin-top: -3px;;padding: 5px;">
      <path class="primaryColorFill" d="M11.5,23C5.1,23,0,17.9,0,11.5S5.1,0,11.5,0S23,5.1,23,11.5C23,17.8,17.8,23,11.5,23z M10.4,10.4v6.9
	h2.3v-6.9H10.4z M10.4,5.8v2.3h2.3V5.8L10.4,5.8z" />
    </svg>
    <span *ngIf="typeDataFeature != 'download'" style="font-size: 16px;" >
      {{ 'layer_properties.title' | translate }}
    </span>
    
    <span *ngIf="typeDataFeature == 'download'" style="font-size: 16px;" >
      {{ 'layer_properties.title_download' | translate }}
    </span>

    <span class="pull-right pointer" style="margin-right: 10px;margin-top: 2px;" (click)="closeProperties()">
      <i class="fa fa-times primaryColor" style="font-size: large;padding: 5px;"></i>
    </span>
  </div>

  <div class="displayPropertiesBody primary_transparent_bg  black " [preventDefaultEvent]="true" [ngDraggable]="false"
    style="padding: 15px;margin-bottom: 0px !important;">

    <div class="col-md-12 col-xs-12 text-center primaryColor" style="text-align: center;margin-bottom: 10px;"
      *ngIf="get_title_couche()">
      <mat-chip-list *ngIf="typeDataFeature != 'pdf'" style="display: inline-table;">
        <mat-chip style="height: auto !important;" class="white primaryColorBG bold">
          {{get_title_couche().nom}}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div style="background: #fff;border-radius: 5px;padding-bottom: 10px;padding-top: 10px;"
      class="col-md-12 col-xs-12">

      <span *ngIf="typeDataFeature == 'keyVal' ">
        <span *ngFor="let pte of dataFeature">

          <div class="col-md-12 col-xs-12" *ngIf="pte.display" style="margin-top: 10px;" >
            <div class="bold  "> {{pte.index}} : </div>
            <div style="padding-left: 5px;" *ngIf="pte.type != 'url'" [innerHTML]="pte.val"> </div>
            <div style="padding-left: 5px;" *ngIf="pte.type == 'url'">
              <a href="{{pte.val}}" target="_blank">{{ 'layer_properties.click_url_text' | translate }} </a>
            </div>
          </div>

          <!-- <div class="col-md-12 col-xs-12" *ngIf="pte.display">
            <span class="bold col-md-4 col-xs-4 "> {{pte.index}} :</span>
            <span class="col-md-8 col-xs-8 pull-left" *ngIf="pte.type != 'url'" [innerHTML]="pte.val"> </span>
            <span class="col-md-8 col-xs-8 pull-left" *ngIf="pte.type == 'url'"> <a href="{{pte.val}}" target="_blank">
                Cliquer ici </a> </span>
          </div> -->

        </span>
      </span>

      <span *ngIf="typeDataFeature == 'download' ">
        <span *ngFor="let pte of dataFeature">
          <div class="col-md-12 col-xs-12" style="margin-top: 15px">
            <div class="bold "> {{pte.nom}} ({{pte.number}}) :</div>
            <div style="padding-left: 5px;" >
              <a href="{{pte.nom_file}}" *ngIf="pte.nom_file != false" target="_blank"> {{ 'layer_properties.download_gpkg' | translate }} 
              </a>
              <span *ngIf="pte.nom_file == false"> {{ 'layer_properties.download_problem' | translate }}  </span>
            </div>
          </div>
        </span>
      </span>

      <span *ngIf="typeDataFeature == 'pdf' ">

        <span *ngFor="let pte of dataFeature">
          <div class="col-md-12" style="margin-top: 15px;box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
				padding: 0px 0px 10px 0px;
				width: 96%;
				margin-left: 2%;">
            <h6 class="col-md-12 bold "
              [ngClass]="{'displayPropertiesBody_titre_cartes_pdf_url': pte.url,'displayPropertiesBody_titre_cartes_pdf': !pte.url}">
              <span *ngIf="pte.url">
                <mat-checkbox class="primaryColor" color="primary" style="padding-right: 5px;" [(ngModel)]="pte.checked"
                  (change)="displayDataOnMap(pte)">
                </mat-checkbox>
              </span>
              {{pte.nom}}
            </h6>

            <div class="col-md-12">
              <div class="col-md-4">
                <img src="{{url_prefix+pte.image_src}}" style="max-height: 70px">
              </div>
              <div class="col-md-8" style="padding-left: 10px;padding-right: 0px;text-align: justify;">
                <span>
                  {{pte.description}}
                </span>
              </div>

            </div>

          </div>
        </span>

      </span>
    </div>

    <div class="col-md-12 col-xs-12" style="margin-top: 12px;">

      <!-- <button mat-flat-button color="primary" class="col-md-5 col-xs-5 " (click)="zoomToPoint()" matTooltip="{{ 'caracteristiques_lieu.zoomer' | translate }}">
        <i class="fa fa-location-arrow white" ></i>
      </button> -->

      <div id="share_div_pte" style="text-align: center;">
        <share-buttons [theme]="'circles-dark'" [include]="['facebook','twitter','linkedin','messenger','copy','whatsapp']"
          [show]="11" [size]="-4" [url]="url_share">
        </share-buttons>
      
      </div>
      <button mat-flat-button color="primary" *ngIf="isShareFeatures(dataFeature) && url_share==undefined"
        class="col-md-6 col-xs-12 col-md-offset-3" (click)="shareFeature(dataFeature)"
        matTooltip="{{ 'layer_properties.click_url_text' | translate }}">
        <i class="fa fa-share-alt white"></i>
      </button>
    </div>

  </div>

  <div style="background-color: white; padding: 10px;" >
    <img src="assets/images/osm.svg" width="25px" alt="" srcset="">
    "GEOSM" utilise les données <a href="https://www.openstreetmap.org" target="_blank" rel="noopener noreferrer"> d'OpenStreetMap </a>
  </div>

  <!-- <div class="displayPropertiesFooter  ">

    <div class="button-row ">

      <button mat-mini-fab style="margin-right: 15px;" class="accentColorBG" *ngIf="isShareFeatures(dataFeature)"
        (click)="shareFeature(dataFeature)">
        <i class="fa fa-share-alt fa-lg" style="color:#fff;"></i>
      </button>
    </div>

  </div> -->

</div>