
<div style="position:fixed;top:0px;bottom:0px;left:0px;right:0px;background:rgba(255,255,255,0.7);z-index:99999999999"  *ngIf='!catalogue_load' >

	<div style="position:absolute;top:calc(50% - 50px);left:45%" >
		<div class="lds-ripple" style="width: 100px;
			height: 100px;" >
				<div ></div>
				<div ></div>
		  </div>

		  <div style="margin-left: -90px; margin-top: -35px;" class="primaryColor" >
			  {{ 'loading.loading_catalog' | translate }}
		  </div>
	</div>

</div> 

<div id="loading_calcul" style="position:fixed;top:0px;bottom:0px;left:0px;right:0px;background:rgba(255,255,255,0.7);z-index:99999999999;display:none"  >
		

			<div style="position:absolute;top:calc(50% - 50px);left:45%" >
				<div class="lds-ripple" style="width: 100px;
					height: 100px;" >
						<div ></div>
						<div ></div>
				  </div>
		
				  <div style="margin-left: -20px; margin-top: -35px;" class="primaryColor">
					{{ 'loading.loading_dowloads_data' | translate }}
				  </div>
			</div>
		
</div> 

<div id="loading_print" style="position:fixed;top:0px;bottom:0px;left:0px;right:0px;background:rgba(255,255,255,0.7);z-index:99999999999;display:none"  >
		
			<div style="position:absolute;top:calc(50% - 50px);left:45%" >
				<div class="lds-ripple" style="width: 100px;
					height: 100px;" >
						<div ></div>
						<div ></div>
				  </div>
		
				  <div style="margin-left: -15px; margin-top: -35px;" class="primaryColor">
					{{ 'loading.loading_pdf_print' | translate }}
				  </div>
			</div>
		
</div>

<!-- <div id="id_nombre_vues" style="position:fixed;top:0px;bottom:0px;left:0px;right:0px;background:rgba(255,255,255,0.3);z-index:99999999999;display:none"  >
		<button mat-mini-fab  class="close  close-comment pull-right" style="position:absolute;height: 20px;width: 20px;background:#000;top:0px;right:0px;opacity:1"
		(click)="close_loading('id_nombre_vues')">
		  <i class="fa fa-times fa-lg" style="color:#fff;margin-top: -23px;margin-right: 1px"></i>
		</button>
		<div style="position:absolute;top:calc(50% - 50px);left:45%" >
		
			  <div style="height:110px;width:110px;border-radius:100%;padding:10px;padding-top: 25px;" class="primaryColorBG text-center white bold ">
				  <span> Grâce à vous nous avons </span>
				 <span id="nombre_vues" >

				 </span>
				 <span> visites </span>
			  </div>
		</div>
	
</div>  -->
	<router-outlet  >
		 <app-header></app-header>
	</router-outlet>



