
<div id="header"  >

  <h3 class="header-title title_1" data-wow-duration="5s" style="color:#fff" (click)="goto()">Accueil</h3>
  <h3 class="header-title title_2" data-wow-duration="5s" style="color:#fff">A PROPOS</h3>
  <h3 class="header-title title_3 " data-wow-duration="1s">GEOPORTAILS</h3>
  <h3 class="header-title title_4 " data-wow-duration="1s" style="color:#fff">GEOSERVICES</h3>
  <h3 class="header-title title_5 " data-wow-duration="1s">GEODONNES</h3>
  <h3 class="header-title title_6 " data-wow-duration="1s" style="color:#fff">INSTANCES</h3>
  <h3 class="header-title title_7 " data-wow-duration="1s">CONTACT</h3>

</div>

<div style="top: 50%;right: 10px;transform: translate3d(0,-50%,0);" class="swiper-pagination cl-slider-pagination swiper-pagination-clickable swiper-pagination-bullets">
  <span class="swiper-pagination-bullet bullet_1 swiper-pagination-bullet-active" data-label="Welcome"></span>
  <span class="swiper-pagination-bullet bullet_2" data-label="Performance"></span>
  <span class="swiper-pagination-bullet bullet_3" data-label="Features"></span>
  <span class="swiper-pagination-bullet bullet_4" data-label="About Us"></span>
  <span class="swiper-pagination-bullet bullet_5" data-label="Purchase"></span>
  <span class="swiper-pagination-bullet bullet_6" data-label="Purchase"></span>
  <span class="swiper-pagination-bullet bullet_7" data-label="Purchase"></span>
</div>

<section class="home  "  >

</section>
<section class="propos" data-wow-duration="2s"></section>
<section class="geoportails" data-wow-duration="2s"></section>
<section class="geoservices "></section>
<section class="geodonnes "></section>
<section class="instances "></section>
<section class="contact "></section>
